
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>User Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="User Portal">
    <!-- Pixel CSS -->
    <link type="text/css" href="/css/neumorphism.css" rel="stylesheet">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
            <div class="container position-relative">
               <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                            <li class="nav-item dropdown">
                                <a href="/web/home" class="nav-link-inner-text">Home</a>
                                <span class="fas fa-fff nav-link-arrow ml-2"></span>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="/web/charts" class="nav-link-inner-text">Chart</a>
                                <span class="fas fa-fff nav-link-arrow ml-2"></span>
                            </li>
                        </ul>
            </div>
        </nav>
    </header>
    {{{body}}}

    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
        <div class="container">
            <div class="row">
                {{!-- <div class="col">
                   <p>Footer Content</p>
                </div> --}}
            </div>
        </div>
    </footer>

    <!-- Core -->
    <script src="/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/headroom.js/dist/headroom.min.js"></script>

    <!-- Vendor JS -->
    <script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/vendor/prismjs/prism.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Neumorphism JS -->
    <script src="/assets/js/neumorphism.js"></script>
    
    {{!-- <div class="card bg-primary shadow-soft border-light p-4">
        <div class="card-header text-center pb-0">
            <h2 class="h4">Sign in to our platform</h2>
        </div>
        
    </div> --}}
</body>

</html>