<main>
    <section><br><br></section>
    <section class="section pt-4 pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 text-center">
                    <h1 class="display-3 mb-4 px-lg-5">Charts / Graphs</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="section pt-3 pb-0">
        <article class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 shadow-soft p-4 border border-light rounded section section-sm bg-primary pt-3 text-black" id="chart_div">
                    
                </div>
            </div>
        </article>
    </div>
</main>
<script src="/js/charts.js"></script>